FPD_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vdivde.de/3682"
    vc:minVersion="1.1" xmlns:fpb="http://www.vdivde.de/3682"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="project">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="fpb:projectInformation"/>
                <xs:element maxOccurs="unbounded" minOccurs="1" ref="fpb:process"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="fpb:crossSystemFlows">
                    <xs:annotation>
                        <xs:documentation>
                            Optional container for flow connections between states in
                            different processes.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="projectInformation">
        <xs:annotation>
            <xs:documentation>Meta information about the project</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="entryPoint" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Defines the process of the highest hierarchical
                        level</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:anyAttribute namespace="##other">
                <xs:annotation>
                    <xs:documentation>further project informations (e.g., visual extension attributes)</xs:documentation>
                </xs:annotation>
            </xs:anyAttribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="process">
        <xs:complexType>
            <xs:all>
                <xs:element ref="fpb:systemLimit"/>
                <xs:element name="states">
                    <xs:complexType>
                        <xs:all>
                            <xs:element maxOccurs="unbounded" minOccurs="2" ref="fpb:state"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="processOperators">
                    <xs:complexType>
                        <xs:all>
                            <xs:element maxOccurs="unbounded" minOccurs="1"
                                ref="fpb:processOperator"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="technicalResources">
                    <xs:complexType>
                        <xs:all>
                            <xs:element maxOccurs="unbounded" minOccurs="0"
                                ref="fpb:technicalResource"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="fpb:flowContainer"/>
            </xs:all>
            <xs:attribute name="id" type="xs:string"/>
        </xs:complexType>
        <!-- Referential integrity: flowContainer defines flows, flows/flow references them -->
        <xs:key name="flowDefinitionKey">
            <xs:annotation>
                <xs:documentation>Each flow in flowContainer must have a unique ID within this process</xs:documentation>
            </xs:annotation>
            <xs:selector xpath="fpb:flowContainer/fpb:flow"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:keyref name="flowReferenceKeyref" refer="fpb:flowDefinitionKey">
            <xs:annotation>
                <xs:documentation>flows/flow/@id must reference an existing flowContainer/flow/@id</xs:documentation>
            </xs:annotation>
            <xs:selector xpath=".//fpb:flows/fpb:flow"/>
            <xs:field xpath="@id"/>
        </xs:keyref>
    </xs:element>
    <xs:element name="state">
        <xs:complexType>
            <xs:all>
                <xs:element ref="fpb:identification"/>
                <xs:element ref="fpb:characteristics"/>
                <xs:element ref="fpb:assignments"/>
                <xs:element ref="fpb:flows"/>
            </xs:all>
            <xs:attribute name="stateType" type="fpb:stateType"/>
            <xs:anyAttribute namespace="##other">
                <xs:annotation>
                    <xs:documentation>Allows visual extension attributes (e.g., visual:x, visual:y)</xs:documentation>
                </xs:annotation>
            </xs:anyAttribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="processOperator">
        <xs:complexType>
            <xs:all>
                <xs:element ref="fpb:identification"/>
                <xs:element ref="fpb:characteristics"/>
                <xs:element ref="fpb:assignments"/>
                <xs:element ref="fpb:flows"/>
                <xs:element ref="fpb:usages"/>
            </xs:all>
            <xs:anyAttribute namespace="##other">
                <xs:annotation>
                    <xs:documentation>Allows visual extension attributes (e.g., visual:x, visual:y)</xs:documentation>
                </xs:annotation>
            </xs:anyAttribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="technicalResource">
        <xs:complexType>
            <xs:all>
                <xs:element ref="fpb:identification"/>
                <xs:element ref="fpb:characteristics"/>
                <xs:element ref="fpb:assignments"/>
                <xs:element ref="fpb:usages"/>
            </xs:all>
            <xs:anyAttribute namespace="##other">
                <xs:annotation>
                    <xs:documentation>Allows visual extension attributes (e.g., visual:x, visual:y)</xs:documentation>
                </xs:annotation>
            </xs:anyAttribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="systemLimit">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="name" type="xs:string"/>
            <xs:anyAttribute namespace="##other">
                <xs:annotation>
                    <xs:documentation>Allows visual extension attributes (e.g., visual:x, visual:y)</xs:documentation>
                </xs:annotation>
            </xs:anyAttribute>
        </xs:complexType>
    </xs:element>
    <!-- Merkmale -->
    <xs:element name="identification">
        <xs:complexType>
            <xs:all>
                <xs:element name="references">
                    <xs:annotation>
                        <xs:documentation>                             references to products,
                            energy, information, process operators, technical resources (e.g. DIN V
                            19259, AFI, NE 100) and the system
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:all>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="reference">
                                <xs:complexType>
                                    <xs:attribute name="id">
                                        <xs:annotation>
                                            <xs:documentation>ID of the referenced
                                                object</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:all>
            <xs:attribute name="uniqueIdent" type="xs:string">
                <xs:annotation>
                    <xs:documentation>unique identification ("Code")</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="longName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>long name ("preferred name" or "Synonymous
                        name")</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="shortName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>short name ("Coded name")</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="versionNumber" type="xs:string">
                <xs:annotation>
                    <xs:documentation>                         A new version is created when a
                        change in the expression of the attributes of an object occurs.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="revisionNumber" type="xs:string">
                <xs:annotation>
                    <xs:documentation>                         The revision number describes an
                        accredited version.                     </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:anyAttribute namespace="##other">
                <xs:annotation>
                    <xs:documentation>further identifying attributes (e.g., visual extension attributes)</xs:documentation>
                </xs:annotation>
            </xs:anyAttribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="characteristics">
        <xs:complexType>
            <xs:all>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="characteristic">
                    <xs:complexType>
                        <xs:all>
                            <xs:element maxOccurs="1" minOccurs="1" ref="fpb:identification"/>
                            <xs:element name="descriptiveElement">
                                <xs:complexType>
                                    <xs:attribute name="valueDeterminationProcess" type="xs:string"/>
                                    <xs:attribute name="representivity" type="xs:string"/>
                                    <xs:attribute name="setpointValue" type="xs:string"/>
                                    <xs:attribute name="validityLimits" type="xs:string"/>
                                    <xs:attribute name="actualValues" type="xs:string"/>
                                    <xs:anyAttribute/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="relationalElement">
                                <xs:complexType>
                                    <xs:attribute name="view" type="xs:string"/>
                                    <xs:attribute name="model" type="xs:string"/>
                                    <xs:attribute name="regulationsForRelationalGeneration"
                                        type="xs:string"/>
                                    <xs:anyAttribute/>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="assignments">
        <xs:complexType>
            <xs:all>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="assigned">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="flowContainer">
        <xs:annotation>
            <xs:documentation>
                Registry of all flow connections within this process.
                Each flow represents a directed connection between process elements.
                The actual source/target binding is defined in the flows element of each state/processOperator.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="flow">
                    <xs:annotation>
                        <xs:documentation>Definition of a single flow connection.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>Unique identifier for this flow, referenced by flows/flow/@id</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="flowType" type="fpb:flowType"/>
                        <xs:anyAttribute namespace="##other">
                            <xs:annotation>
                                <xs:documentation>Allows visual extension attributes (e.g., visual:waypoints)</xs:documentation>
                            </xs:annotation>
                        </xs:anyAttribute>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="flows">
        <xs:annotation>
            <xs:documentation>
                Defines how flows connect to this element (state, processOperator).
                References flows defined in flowContainer and specifies their entry/exit points.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="flow">
                    <xs:annotation>
                        <xs:documentation>
                            Binding of a flow to source and target elements.
                            The @id references a flow defined in flowContainer.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:all>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                <xs:annotation>
                                    <xs:documentation>
                                        Target element where this flow terminates (flow goes INTO this element).
                                        For flowType="usage": bidirectional endpoint, order with exit is interchangeable.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="id" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>ID of the target element (state or processOperator)</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="exit">
                                <xs:annotation>
                                    <xs:documentation>
                                        Source element where this flow originates (flow comes OUT of this element).
                                        For flowType="usage": bidirectional endpoint, order with entry is interchangeable.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="id" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>ID of the source element (state or processOperator)</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                        <xs:attribute name="id" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Reference to flowContainer/flow/@id</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="usages">
        <xs:complexType>
            <xs:all>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="usage">
                    <xs:annotation>
                        <xs:documentation>                             Contains the ID of the
                            instance of the usage connection
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <!-- Cross-System Flows (inter-process State-to-State connections) -->
    <xs:element name="crossSystemFlows">
        <xs:annotation>
            <xs:documentation>
                Container for flow connections between states in different processes.
                Defined at the project level, outside of any individual process.
                Each crossSystemFlow represents a directed connection from a state
                in one process to a state in another process.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="1" ref="fpb:crossSystemFlow"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="crossSystemFlow">
        <xs:annotation>
            <xs:documentation>
                A directed flow connection between two states in different processes.
                The source and target are identified by a combination of process ID
                and state ID (uniqueIdent), ensuring unambiguous resolution even when
                different processes contain states with identical IDs.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>Unique identifier for this cross-system flow</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="flowType" type="fpb:flowType">
                <xs:annotation>
                    <xs:documentation>
                        Type of flow connection. Defaults to "flow" if omitted.
                        Only "flow", "alternativeFlow", and "parallelFlow" are
                        semantically meaningful for cross-system connections.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="sourceProcess" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>ID of the process containing the source state (must match a process/@id)</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="sourceState" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>Unique identifier of the source state within the source process</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="targetProcess" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>ID of the process containing the target state (must match a process/@id, must differ from sourceProcess)</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="targetState" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>Unique identifier of the target state within the target process</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:anyAttribute namespace="##other">
                <xs:annotation>
                    <xs:documentation>Allows extension attributes (e.g., visual:waypoints)</xs:documentation>
                </xs:annotation>
            </xs:anyAttribute>
        </xs:complexType>
    </xs:element>
    <!-- Enumerations -->
    <xs:simpleType name="flowType">
        <xs:annotation>
            <xs:documentation>Enumeration: Flows can be from type "flow", "alternativeFlow",
                "parallelFlow", "usage"</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="flow"/>
            <xs:enumeration value="alternativeFlow"/>
            <xs:enumeration value="parallelFlow"/>
            <xs:enumeration value="usage"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="stateType">
        <xs:annotation>
            <xs:documentation>Enumeration: States can be from type "product", "energy" or
                "information"</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="product"/>
            <xs:enumeration value="energy"/>
            <xs:enumeration value="information"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
